#splash {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.map-style {
  width: 100%;
  height: 25vh;
}

.navbar-brand {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand::after {
  display: block;
  content: "";
  border-top: .4rem solid #fff;
  width: 100%;
  margin: 1em 0;
  transform: translateY(-1rem);
}

.img-responsive {
  width: 100%;
  height: 100vh;
}

.food {
  margin-top: 2em;
}

.wrap {
  width:100%;
  margin: auto;
}

.wrap .wrap-left {
  width: 5%;
  padding-bottom: 5%;
  float: left;
  background-color: #fff;
  transform: translate(-1.5em, 5.5rem);
}

.wrap .wrap-right {
  width: 5%;
  padding-bottom: 5%;
  float: right;
  background-color: #fff;
  transform: translate(-26.5rem, 5.5rem);
}

.fa-search {
  display: inline-block;
  color: #fff;
}