#splash {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}

body {
  background-color: #000;
}

.navbar-brand {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand::after {
  display: block;
  content: "";
  border-top: .4rem solid #fff;
  width: 100%;
  margin: 1em 0em;
  transform: translateY(-1rem);
}