<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body>
  <section class="section-map">
    <div id="map" class="map-style col-xs-offset-1 col-xs-11 col-sm-offset-1 colsm-11 col-lg-offset-1 col-lg-11"></div>
  </section>
    
  <section class="section-search">
      <div class="row">
        <form class="form-inline">
          <div class="form-group col-xs-offset-1 col-xs-9 col-sm-offset-5 col-sm-7 col-lg-offset-5 col-lg-7">
            <label for="exampleInputName2">Comida cerca de ti</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="filtrar restaurantes">
          </div>
          <div class="col-xs-2">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </form>
      </div>
    </section>
    <section class="section-images">
  
    </section>
  
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="title text-center" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body clearfix">
          <iframe frameborder="0" src="">
          </iframe>
          <div class="col-xs-6">
            <h5 class="title">Dirección</h5>
            <p class="address">dirección</p>
          </div>
          <div class="col-xs-6">
            <h5 class="title">Rango de precios</h5>
            <p class="price">asd</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default center" data-dismiss="modal">Pedir ahora</button>
        </div>
      </div>
    </div>
    </div>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="js/app.js">  
</body>
</html>